/*Reset Stylesheet*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Il codice inizia qui*/
* {
  box-sizing: border-box;

  /* Include il border e il padding
  nell'altezza e nella larghezza
  totale di un elemento */
}

/* Versione mobile */
[class*='col-'] {
  width: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: block;
  margin: auto;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@font-face {
  font-family: 'GD-Boing-Bold';
  src: url('assets/GD-Boing-Bold.ttf');
}

#titolo {
  height: 140px;
  width: 400px;
  top: -380%;
  left: 37%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
}

#titolone {
  font-family: 'GD-Boing-Bold', serif;
  color: white;
  font-style: normal;
  font-size: 6em;
  margin: auto;
  width: 100%;
  height: 45px;
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  line-height: 55px;
  word-spacing: 80px;
  vertical-align: middle;
  letter-spacing: 1px;
  padding-right: 10px;
}

#ok {
  height: 140px;
  width: 100%;
  top: 600%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: -30%;
}

#ok1 {
  font-family: 'GD-Boing-Bold', serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 5em;
}

#carota {
  height: 140px;
  width: 100%;
  left: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 70%;
}

#carota1 {
  font-family: loos-normal, sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 2.8em;
  text-align: left;
  font-weight: 400;
  display: block;
  margin: auto;
  width: 79%;
  position: absolute;
  top: -400%;
  left: 51%;
  transform: translate(-50%, -50%);
  cursor: default;
  padding: 40px;
  line-height: 50px;
}

#qrcode {
  position: relative;
  top: 900%;
  left: 72%;
  transform: translate(-50%, -50%);
  margin-top: 15%;
}

#qrcode1 {
  width: 450px;
  height: auto;
}

h1 {
  font-family: loos-normal, sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 3.5em;
  text-align: center;
  font-weight: 600;
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

h2 {
  font-family: loos-normal, sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 2.8em;
  text-align: left;
  font-weight: 400;
  display: block;
  margin: auto;
  width: 79%;
  position: absolute;
  top: -400%;
  left: 51%;
  transform: translate(-50%, -50%);
  cursor: default;
  padding: 40px;
  line-height: normal;
}

#titolo1 {
  font-family: loos-normal, sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 5em;
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 17%;
  left: 50%;
}

#testo {
  height: 850px;
  width: 550px;
  top: 70%;
  left: 47%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  line-height: normal;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 2em;
  /* border: 5px solid rgb(198, 35, 132); */
}

#demo {
  font-family: loos-normal, sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-size: 2.5em;
  margin: auto;
  width: 100%;
  height: 120%;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  word-spacing: 70px;

}

.chart__item {
  color: white;
  background-color: #2270B7;
  margin: 3px 3px;
  padding: 10px;
  border-radius: 10px;
}

.chart__item:nth-child(even) {
  background-color: #2497B1;
}

.chart__item:nth-child(1) {
  background-color: rgb(198, 35, 132);
  font-size: 1.3em;
  word-spacing: 70px;
}

#carnesintetica {
  font-family: loos-normal, sans-serif;
  color: rgb(230, 22, 22);
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  margin: auto;
  width: 90%;
  height: 90%;
  position: absolute;
  text-align: center;
  line-height: 60px;
  white-space: nowrap;
  left: 60%;
  top: 72%;
  transform: translate(-50%, -50%);
}

#button {
  margin: auto;
  width: 131px;
  height: 80px;
  position: absolute;
  top: 20%;
  left: 63%;
  /* transform: translate(-50%, -50%); */
  background-color: transparent;
  border: none;
  text-decoration: none;
  background: url(assets/freccia.png);
  cursor: pointer;
}

#start {
  position: absolute;
  top: 200%;
  left: 37%;

}

.start1 {
  width: 230px;
  height: auto;
  position: relative;
  display: inline-block;
}

.green {
  transition: all 1s ease;
  transform: scale(1);
}

.green:hover {
  /*  Making button bigger on hover  */
  transform: scale(1.5) perspective(1px)
}

#nome {
  font-family: loos-normal, sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  display: block;
  margin: auto;
  width: 40%;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px
}


